body {
    font-family: "Roboto Mono", serif;
    color: #353D34;
    margin: 0;
	padding: 0;
}

nav {
    background-color: #A2B29F;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100px;
}
nav img {
    height: 100px;
    margin-left: 20px;
}
nav h1 {
    margin-left: 15px;
    font-size: 50px;
}



nav form {
    margin-left: auto;
    margin-right: 20px;
}
nav input[type=text] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}
nav input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

/*
KOLOR 1: #F8EDE3
KOLOR 2: #BDD2B6
KOLOR 3: #A2B29F
KOLOR 4: #798777
KOLOR 5: #353D34
*/