body {
    font-family: "Roboto Mono", serif;
    color: #353D34;
    margin: 0;
	padding: 0;
    background-color: #F8EDE3;
}

/* NAVBAR */
nav {
    background-color: #A2B29F;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid #353D34;
}
nav img {
    height: 100px;
    margin-left: 20px;
}
nav h1 {
    margin-left: 15px;
    font-size: 50px;
}
nav button {
    background-color: #A2B29F;
    color: white;
    border: 5px solid #353D34;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}
nav button img {
    height: 45px;
    width: 45px;
    margin-left: 0;
}
nav button:hover {
    background-color: #798777;
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
}
/*  */

/* MAIN */
main h1 {
    font-size: 56px;
    text-align: center;
}
/*  */

.przepis-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid #353D34;
    background-color: #BDD2B6;
    color: #353D34;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    width: 240px;
    height: 290px;
    border-radius: 45px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.image-box {
    width: 200px;
    height: 200px;
    border-radius: 60px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.polecane-przepisy-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 85%;
    margin: 0 auto;
}


footer {
    background-color: #353D34;
    color: #F8EDE3;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: 100%;
}

/*
KOLOR 1: #F8EDE3
KOLOR 2: #BDD2B6
KOLOR 3: #A2B29F
KOLOR 4: #798777
KOLOR 5: #353D34
*/