.login-register-box {
    width: 500px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    
}

.login-register-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.login-register-buttons button {
    width: 100%;
    height: 65px;
    font-size: 18px;
    font-weight: bold;
    font-size: 35px;
    background-color: #F8EDE3;
    color: #353D34;
    cursor: pointer;
    border: 3px solid #353D34;
    margin-bottom: 50px;
}
.login-register-buttons button.active {
    background-color: #798777;
    color: #F8EDE3;
    transition: background-color 0.3s ease-in-out;
}
#login-button {
    border-radius: 50px 0 0 50px;
    border-right: 0;
}
#register-button {
    border-radius: 0 50px 50px 0;
    border-left: 0;
}

.login-register-buttons button:focus {
    outline: none;
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    
}

.login-form input, .register-form input {
    margin-bottom: 20px;
    height: 50px;
    padding: 10px 10px 10px 20px;
    border-radius: 50px;
    border: 4px solid #798777;
    background-color: #A2B29F;
    font-size: 20px;
    width: 100%;
    color: #F8EDE3;
    font-family: "Roboto Mono", serif;
    outline: none;
}
.login-form input::placeholder, .register-form input::placeholder {
    color: #F8EDE3;
    font-family: "Roboto Mono", serif;
}
.login-form input:focus, .register-form input:focus {
    background-color: #798777;
    border: 4px solid #353D34;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

#submit-button {
    font-family: "Roboto Mono", serif;
    width: 200px;
    height: 65px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    background-color: #A2B29F;
    border: 4px solid #798777;
    margin-top: 50px;
}

#submit-button:focus {
    outline: none;
    background-color: #798777;
    border: 4px solid #353D34;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
#submit-button:hover {
    background-color: #798777;
    border: 4px solid #353D34;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}



/*
KOLOR 1: #F8EDE3
KOLOR 2: #BDD2B6
KOLOR 3: #A2B29F
KOLOR 4: #798777
KOLOR 5: #353D34
*/