body {
    font-family: "Roboto Mono", serif;
    color: #353D34;
    margin: 0;
	padding: 0;
    background-color: #F8EDE3;
}
a {
    text-decoration: none;
    color: inherit;
}
/* NAVBAR*/
nav {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #A2B29F;
    border-bottom: 5px solid #353D34;
    padding: 0 20px;
}
.navbar-center {
    justify-content: center;
}
.navbar-logo {
    background-color: #A2B29F;
    display: flex;
    align-items: center;
}
.navbar-logo img {
    height: 100px;
}
.navbar-logo canvas {
    text-align: center;
}
.navbar-logo p {
    margin-left: 15px;
    font-size: 50px;
    font-weight: bold;
}
@media only screen and (max-width: 1250px) {
    .navbar-logo p {
        font-size: 40px;
        display: block;
    }
}
@media only screen and (max-width: 1100px) {
    .navbar-logo p {
        font-size: 20px;
        display: block;
    }
}
.navbar-middle-button {
    font-family: "Roboto Mono", serif;
    width: 250px;
    height: 67px;
    font-size: 27px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    background-color: #A2B29F;
    border: 4px solid #353D34;
    color: #353D34;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media only screen and (max-width: 620px) {
    .navbar-middle-button {
        font-size: 20px;
        width: 130px;
    }
}
.navbar-middle-button:focus {
    outline: none;
}
.navbar-middle-button:hover {
    background-color: #798777;
    border: 4px solid #353D34;
    color: #F8EDE3;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.navbar-search {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
    flex: 1;
    margin-right: 25px;
    margin-left: 10px;
}
.navbar-search form {
    display: flex;
    align-items: center;
}
.navbar-search input[type="text"] {
    width: 300px;
    height: 75px;
    border-radius: 0 100px 100px 0;
    border: 4px solid #353D34;
    background-color: #BDD2B6;
    font-family: "Roboto Mono", serif;
    border-left: 0;
    font-size: 20px;
    box-sizing: border-box;
}
.navbar-search-closed input[type="text"] {
    display: none;
}
.navbar-search input[type="text"]::placeholder {
    color: #F8EDE3;
}
.navbar-search input[type="text"]:focus {
    outline: none;
}
.navbar-search button[type="submit"] {
    width: 75px;
    height: 75px;
    background-color: #BDD2B6;
    border-radius: 100px 0 0 100px;
    border: 4px solid #353D34;
    border-right: 0;
    box-sizing: border-box;
}
.navbar-search-closed button[type="submit"] {
    border-radius: 50%;
    border: 4px solid #353D34;
}
.navbar-search button[type="submit"] img {
    width: 35px;
    height: 35px;
}
.navbar-search button[type="submit"] img:hover {
    transform: scale(1.1);
}
.navbar-search-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-search-middle input[type="text"] {
    width: 50vw;
    height: 75px;
    box-sizing: border-box;
}
.navbar-user {
    background-color: #A2B29F;
    border: 5px solid #353D34;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin-left: auto;
    cursor: pointer;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-user img {
    height: 45px;
    width: 45px;
    margin-left: 0;
}
.navbar-user:hover {
    background-color: #798777;
    box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
}
/*  */

/* FOOTER */
footer {
    background-color: #353D34;
    color: #F8EDE3;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: 100%;
}
/*  */

/* SCROLL BAR */
*::-webkit-scrollbar {
    width: 20px;
}
*::-webkit-scrollbar-track {
    background-color: rgba(121, 135, 119, 1);
    background-image: linear-gradient(180deg, rgba(121, 135, 119, 1) 10%, rgba(53, 61, 52, 1) 90%);
}
*::-webkit-scrollbar-thumb {
    background-color: #BDD2B6;
    border-radius: 20px;
    border: 3px solid #353d34;
}
/*  */

/*
KOLOR 1: #F8EDE3
KOLOR 2: #BDD2B6
KOLOR 3: #A2B29F
KOLOR 4: #798777
KOLOR 5: #353D34
*/